
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quicken Loans Holiday Party!</h2>

<a href="/RSVP/RSVP">Click Here to RSVP!</a>
<br />
<a href="/RSVP/Dish">Click Here to bring a Dish!</a>

